body {
    background-color: #9f9da7;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
    margin: 0px;
    padding: 0px;
  }
.header {
    overflow: hidden;
    background-color: #034078;
    padding: 10px ;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 10px;
    border-radius: 4px;
    display: flex;
   
  }
  .logoName{
     margin-left: 20px;
  }
  .logoImage{
      align-self: center;
  }
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
      font-weight: bold;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
  
 
  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  .header-right {
    float: right;
    display: flex;

    margin-right: 30px;
    margin-top: 10px;
  }
  .header-right a{
      margin-right: 20px;
  }
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
     
    }
  }
  .card_2 {
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 gray;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0 20px 50px;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
}

textarea {
    margin-top: 10px;
    margin-left: 50px;
    width: 60%;
    height: 100px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    margin-left: 20%;
    font-size: 16px;
  }
  
  
  textarea:focus {
      background: none repeat scroll 0 0 #f0f0f0;
      outline-width: 0;
  }
  .file-upload {
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin-top: 20px;
    color: #fff;
    background: #034078;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 1px solid #034078;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #ff5f00;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #034078;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #3b4153;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #0f0f0f;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  .button-7 {
    background-color: #ff5f00;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    width: 100%;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: 20px;
   
  }
  
  .button-7:hover,
  .button-7:focus {
    background-color: #07c;
  }
  
  .button-7:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button-7:active {
    background-color: #0064bd;
    box-shadow: none;
  }
.card{  
  overflow: hidden;
  box-shadow: 0px 2px 20px #d7dfe2;
  background: white;
  border-radius: 0.5rem;
  position: relative;
  width: 60%;
  margin-left: 20%;
  transition: 250ms all ease-in-out;
  cursor: pointer;
  height: 500px;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 40px #d7dfe2;
}
.card-banner {
    height: 300px;
    width: 100%;
}
.banner-img {
  position: absolute;
  object-fit: cover;
  height: 14rem;
  width: 100%;
}
.card-desc {
    margin-left: 10px;
    font-size: 17px;
    height: 80px;
}
.card-views {
    margin-left: 10px;
    font-size: 17px;
    height: 15px;
    margin-bottom: 0px;
}
